{% load static %}
<!-- footer.html -->
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <center><b>Copyright © 2024 Raagavi & Prashanth</b></center>
            </div>
            <div class="col-md-6">
                <ul class="footer-nav">
                    <li><a href="https://www.vidyasagar.co.in/privacy-policy">Privacy Policy</a></li>
                    <li><a href="https://www.vidyasagar.co.in/terms-of-use">Terms of Use</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
