.sidebar-menu ul li {
    margin-bottom: 15px; /* Adjust this value for desired spacing */
}

.sidebar-menu ul ul li {
    margin-bottom: 10px; /* Adjust this value for submenu spacing */
}

.sidebar-menu ul ul ul li {
    margin-bottom: 5px; /* Adjust this value for deeper submenu spacing */
}

.sidebar-menu a {
    padding: 10px 20px; /* Adjust padding as needed */
}

.sidebar-menu a i {
    margin-right: 10px; /* Adjust space between icon and text */
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left {
    flex: 1;
}

.header-center {
    flex: 1;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.nav.user-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}

@media (max-width: 768px) {
    .header-center {
        display: none;
    }
}