{% extends 'base.html' %}
{% block content %}

<div class="row">
   <div class="col-sm-12">
      <div class="card">
         <div class="card-body">
            <form method="post" action="{% url 'update_student' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-12">
                   <h5 class="form-title"><span>Edit Student Details</span></h5>
                </div>

                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'error' %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'success' %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'warning' %}
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}


                <div class="col-sm-11">
                   <div class="form-group">
                      <input type="text" class="form-control" name="student_id" value="{% for i in student %}{{ i.admin.id }}{% endfor %}" hidden>
                   </div>
                </div>

                <div class="col-sm-11">
                   <div class="form-group">
                      <label>First Name</label>
                      <input type="text" class="form-control" name="first_name" value="{% for i in student %}{{ i.admin.first_name }}{% endfor %}" required>
                   </div>
                </div>

                <div class="col-sm-11">
                   <div class="form-group">
                      <label>Last Name</label>
                      <input type="text" class="form-control" name="last_name" value="{% for i in student %}{{ i.admin.last_name }}{% endfor %}" required>
                   </div>
                </div>

                <div class="col-sm-11">
                   <div class="form-group">
                      <label>Email ID</label>
                      <input type="email" class="form-control" name="email" value="{% for i in student %}{{ i.admin.email }}{% endfor %}" required>
                   </div>
                </div>

                <div class="col-sm-11">
                   <div class="form-group">
                      <label>Student Report Document Link</label>
                      <input type="url" class="form-control" name="student_details_link" value="{% for i in student %}{{i.admin.student_details_link}}{% endfor %}" placeholder="http://example.com/document">
                   </div>
                </div>

                <div class="col-sm-11">
                   <div class="form-group">
                      <label>User Name</label>
                      <input type="text" class="form-control" name="username" value="{% for i in student %}{{i.admin.username}}{% endfor %}" required>
                   </div>
                </div>

                <div class="col-sm-11">
                   <div class="form-group">
                      <label>Password</label>
                      <input type="password" class="form-control" name="password" placeholder="Enter Only If you Need to change password">
                   </div>
                </div>

                <div class="col-sm-11">
                   <div class="form-group">
                      <label>Confirm Password</label>
                      <input type="password" class="form-control" name="password2" >
                   </div>
                </div>

                <div class="col-sm-11">
                   <div class="form-group">
                      <label>Permanent Address</label>
                      <textarea class="form-control" name="address" required>{% for i in student %}{{i.address}}{% endfor %}</textarea>
                   </div>
                </div>

                <div class="col-12 col-sm-6">
                   <div class="form-group">
                      <label>Gender</label>
                      <select class="form-control" name="gender">
                         <option>Select Gender</option>
                         <option>Female</option>
                         <option>Male</option>
                         <option>Others</option>
                      </select>
                   </div>
                </div>

                <div class="col-12 col-sm-6">
                   <div class="form-group" required>
                      <label>Course</label>
                      <select class="form-control" name="course_id">
                         <option>Select Course</option>
                         {% for i in course %}
                         <option value="{{i.id}}">{{i.name}}</option>
                         {% endfor %}
                      </select>
                   </div>
                </div>

                <div class="col-12">
                   <button type="submit" class="btn btn-primary">Update Student</button>
                </div>
            </form>
         </div>
      </div>
   </div>
</div>

{% endblock %}
