{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="content container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">Welcome Admin!</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item active">Vidya Sagar Dashboard</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-3 col-sm-6 col-12 d-flex">
            <div class="card bg-one w-100">
                <div class="card-body">
                    <div class="db-widgets d-flex justify-content-between align-items-center">
                        <div class="db-icon">
                            <i class="fas fa-user-graduate"></i>
                        </div>
                        <div class="db-info">
                            <h3>{{ student_count }}</h3>
                            <h6><b>Students</b></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 d-flex">
            <div class="card bg-two w-100">
                <div class="card-body">
                    <div class="db-widgets d-flex justify-content-between align-items-center">
                        <div class="db-icon">
                            <i class="fas fa-crown"></i>
                        </div>
                        <div class="db-info">
                            <h5><b>Highest Fundraising NGO</b></h5>
                            <h6><b>2023</b></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 d-flex">
            <div class="card bg-three w-100">
                <div class="card-body">
                    <div class="db-widgets d-flex justify-content-between align-items-center">
                        <div class="db-icon">
                            <i class="fas fa-building"></i>
                        </div>
                        <div class="db-info">
                            <h5><b>Schools</b></h5>
                            <h6><b>Junior, Middle & NIOS</b></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 d-flex">
            <div class="card bg-four w-100">
                <div class="card-body">
                    <div class="db-widgets d-flex justify-content-between align-items-center">
                        <div class="db-icon">
                            <i class="fas fa-chalkboard-teacher"></i>
                        </div>
                        <div class="db-info">
                            <h3>40+</h3>
                            <h6><b>Staffs</b></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <!-- Our People -->
        <div class="col-md-12 col-lg-6 mb-4">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-title"><b>Our People</b></h5>
                </div>
                <div class="card-body">
                    <p>We believe in the power of our people, we hear their voices, we seek out the best people to work with us.</p>
                    <a href="https://www.vidyasagar.co.in/people" class="btn btn-primary">Read More ></a>
                </div>
            </div>
        </div>

        <!-- Our Journey -->
        <div class="col-md-12 col-lg-6 mb-4">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-title"><b>Our Journey</b></h5>
                </div>
                <div class="card-body">
                    <p>An NGO of 38 years. What started off in a garage is now an oceanic organization impacting several lives and the community at large.</p>
                    <a href="https://www.vidyasagar.co.in/journey-of-vidya-sagar" class="btn btn-primary">Read More ></a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <!-- Mission and Values -->
        <div class="col-md-12 col-lg-6 mb-4">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-title"><b>Mission and Values</b></h5>
                </div>
                <div class="card-body">
                    <p>We embody our mission in all our work.</p>
                    <p>We uphold our values every step of the way.</p>
                    <a href="https://www.vidyasagar.co.in/mission-and-values" class="btn btn-primary">Read More ></a>
                </div>
            </div>
        </div>

        <!-- Awards and Recognition -->
        <div class="col-md-12 col-lg-6 mb-4">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-title"><b>Awards and Recognition</b></h5>
                </div>
                <div class="card-body">
                    <p>We have the privilege of being recognized for various awards such as Best NGO award from National Astha Award 2020-2021 among others.</p>
                    <a href="https://www.vidyasagar.co.in/awards-and-recognitions" class="btn btn-primary">Read More ></a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <!-- Annual Reports -->
        <div class="col-md-12">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-title"><b>Annual Reports</b></h5>
                </div>
                <div class="card-body">
                    <p>Our yearly annual reports and FCRA Donation documentation details our work through every year.</p>
                    <a href="https://www.vidyasagar.co.in/annual-report-financial-statements" class="btn btn-primary">Read More ></a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-xl-3 col-sm-6 col-12">
            <div class="card flex-fill fb sm-box">
                <a href="https://www.facebook.com/Vidyasagar.cso/" class="fab fa-facebook"></a>
                <h6>FaceBook</h6>
                <p>Click</p>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12">
            <div class="card flex-fill insta sm-box">
                <a href="https://www.vidyasagar.co.in/contact-us" class="fab fa-phone"></a>
                <h6>Contact Us</h6>
                <p>Click</p>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12">
            <div class="card flex-fill insta sm-box">
                <a href="https://www.instagram.com/vidyasagar.cso/" class="fab fa-instagram"></a>
                <h6>INSTA</h6>
                <p>Click</p>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12">
            <div class="card flex-fill linkedin sm-box">
                <i class="fab fa-youtube"></i>
                <h6>YouTube</h6>
                <p>Click</p>
            </div>
        </div>
    </div>
</div>

{% include 'includes/chart.html' %}
{% endblock %}
